@use "../util" as *;

.cursor {
  position: fixed;
  top: -40px;
  left: -40px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;

  &::before {
    content: "";
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--light);
    border: 1px solid var(--light);
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: scale(0.15);
  }
}

.cursor.button {
  mix-blend-mode: unset;

  &::before {
    border: none;
    transform: scale(0.95);
    filter: opacity(0.55);
    background: linear-gradient(120deg, var(--danger), var(--orange));
  }
}

.cursor.drag {
  mix-blend-mode: unset;

  &::before {
    transform: scale(1);
    background: var(--primary);
    border-color: transparent;
    content: "\ea23";
    font-family: "LineIcons";
    font-size: 20px;
    color: #fff;
  }
}

.cursor.navlinks {
  mix-blend-mode: unset;

  &::before {
    content: "";
    transform: scale(0.75);
    filter: opacity(0.25);
    border: none;
    background: linear-gradient(120deg, var(--primary), var(--danger));
  }
}

.cursor.brand {
  mix-blend-mode: unset;

  &::before {
    content: "";
    transform: scale(0.95);
    filter: opacity(0.55);
    border: none;
    background: linear-gradient(120deg, var(--light), var(--primary));
  }
}

.cursor.hamburger {
  mix-blend-mode: unset;

  &::before {
    content: "";
    transform: scale(0.75);
    filter: opacity(0.25);
    border: none;
    background: linear-gradient(360deg, cyan, magenta);
  }
}

.preloader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 1s;
  transition-delay: 1s;

  .loadbar {
    width: 0%;
    height: 100%;
    max-height: 6px;
    background: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

  figure {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 0.3s;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    position: relative;

    span {
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--light);
      text-align: center;
      letter-spacing: em(3);
      font-family: var(--font-galaxus);
      font-size: em(16);
    }

    img {
      height: 100px;
      display: inline-block;
      opacity: 0.05;
    }
  }
}

@keyframes fade {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-loaded {
  .preloader {
    height: 0;

    .loadbar {
      max-height: 100%;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    }

    figure {
      transform: translateY(50px);
      opacity: 0;
    }
  }
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}

.line {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

.custom__button {
  position: relative;
  display: block;
  width: em(140);
  height: em(55);
  font-family: var(--font-titillium-bold);
  font-size: em(16);
  letter-spacing: em(1);
  color: white;
  background: var(--primary);
  overflow: hidden;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, orange, magenta);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    z-index: -1;
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.link__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: em(140);
  height: em(55);
  font-family: var(--font-titillium-bold);
  font-size: em(16);
  letter-spacing: em(1);
  color: white !important;
  background: var(--primary);
  overflow: hidden;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, orange, magenta);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    z-index: -1;
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}
