@use "../util" as *;

#main .about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    h1 {
      font-family: var(--font-terabite);
      font-size: em(55);
      line-height: 0.9;
      color: cyan;
      margin-top: em(70.95);
    }

    p {
      font-family: var(--font-titillium);
      color: cyan;
    }
  }

  &__image {
    margin-top: em(100);
  }
}
