@use "../util" as *;

.header .navbar .navbar-nav .nav-item .nav-link {
  font-size: em(14);
  text-transform: uppercase;
  font-family: var(--font-titillium-semibold);
}

.header .navbar .navbar-nav .nav-item.function {
  text-decoration: line-through;
}
